<div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Salads</h3>
        <% menuObj.forEach(function(item) { %>
        <% if (item.category === 'salad') { %>
        <section class="salads">
          <article class="salads">
            <header>
              <img class="item-photo" src="<%= item.image_url %>"></img>
              <h3 class="item-name"><%= item.name %></h3>
              <p class="item-price"><%= item.price %></p>
            </header>
            <p class="item-text"><%= item.description %></p>
            <footer>
              <form method="POST" action="/">
                <input type="hidden" name="id" value="<%= item.id %>">
                <button type="submit" class="btn btn-info">Add to Cart</button>
              </form>
            </footer>
          </article>
        </section>
        <% } %>
        <% }) %>
      </div>

      <div class="col-sm">
        <h3>Sandwiches</h3>
        <% menuObj.forEach(function(item) { %>
        <% if (item.category === 'sandwich') { %>
        <section class="sandwiches">
          <article class="sandwiches">
            <header>
              <img class="item-photo" src="<%= item.image_url %>"></img>
              <h3 class="item-name"><%= item.name %></h3><span class="<%= item.id %>"></span>
              <p class="item-price"><%= item.price %></p>
            </header>
            <p class="item-text"><%= item.description %></p>
            <footer>
              <form method="POST" action="/">
                <input type="hidden" name="id" value="<%= item.id %>">
                <button type="submit" class="btn btn-info">Add to Cart</button>
              </form>
          </footer>
          </article>
        </section>
        <% } %>
      <% }) %>
    </div>

    <div class="col-sm">
      <h3>Soups</h3>
      <% menuObj.forEach(function(item) { %>
        <% if (item.category === 'soup') { %>
      <section class="soups">
        <article class="soups">
          <header>
            <img class="item-photo" src="<%= item.image_url %>"></img>
            <h3 class="item-name"><%= item.name %></h3>
            <p class="item-price"><%= item.price %></p>
          </header>
          <p class="item-text"><%= item.description %></p>
          <footer>
            <form method="POST" action="/">
              <input type="hidden" name="id" value="<%= item.id %>">
              <button type="submit" class="btn btn-info">Add to Cart</button>
            </form>
        </footer>
        </article>
      </section>
      <% } %>
      <% }) %>
    </div>

    </div>

</div>
