<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Roboto:100i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>

  <body class="other">
    <header>
      <% include ./partials/_header %>
      <% include ./partials/_cart_admin %>
    </header>
    <main class="container">
      <section id="active orders">
        <h2>Orders</h2>
        <% orderDetailsObj.reverse().forEach(function(item) { %>
          <% if (item.order_status == 3) { %>
            <article class="active">
          <% } else if (item.order_status == 2 || item.order_status == 1 ) { %>
            <article class="in-progress">
          <% } else if (item.order_status == 4 ) { %>
            <article class="complete">
          <% } %>
        <header class="order">
          <div id="order-details">
            <h3 class="order-id">Order Number: <%= item.id %></h3>
            <p class="order-time">Order placed: <%= item.time.toLocaleDateString('en-US', { timeZone: 'America/Vancouver', month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit'}) %></p>
          </div>
          <div id="order-status">
            <% if (item.order_status == 1) { %>
              <h3 class="order-status">Order Status: Placed</h3>
            <% } else if (item.order_status == 2 ) { %>
              <h3 class="order-status">Order Status: In progress</h3>
            <% } else if (item.order_status == 3 ) { %>
              <h3 class="order-status">Order Status: Ready for pickup</h3>
            <% } else if (item.order_status == 4 ) { %>
              <h3 class="order-status">Order Status: Picked up</h3>
            <% } %>
            <h4 class="order-ready">ETA </h4>
          </div>
        </header>
        <ul>
            <% var array = []; %>
          <% orderObj.forEach(function(item2) { %>
            <% if (item2.id === item.id) { %>
          <li class="item-name"><%= item2.quantity %> <%= item2.name %> - $<%= item2.price %>  <% array.push(item2.price * item2.quantity) %></li>
          <% } %>
          <% }) %>
        </ul>
        <footer>
          <form method="POST" action="/orders/status">
            <input name="orderId" value= "<%= item.id %>" style="display: none">
            <% if (item.order_status == 1) { %>
              <button id="order-button" type="submit" class="btn btn-secondary">Confirm Order</button>
                <p>Estimate Preparation Time: </p><select label="Estimate Preparation Time:" name="time" class="form-control" id="time">
                  <option value="10">10 minutes</option>
                  <option value="20">20 minutes</option>
                  <option value="30">30 minutes</option>
                  <option value="40">40 minutes</option>
                  <option value="50">50 minutes</option>
                  <option value="60">60 minutes</option>
                </select>
            <% } else if (item.order_status == 2 ) { %>
              <button id="order-button" type="submit" class="btn btn-secondary">Order Ready</button>
            <% } else if (item.order_status == 3 ) { %>
              <button id="order-button" type="submit" class="btn btn-secondary">Picked Up</button>
            <% } else if (item.order_status == 4 ) { %>
            <% } %>
          </form>
          <h4 class="order-total">Order total: $<%= array.reduce((a, b) => a + b) %>.00</h4>
        </footer>
      </article>
        <% }); %>
      </section>
    </main>
      </body>
    </html>
